.button_col{
  width: 10%;
}

.BOX{
  margin: auto;
  padding-left: 100px;

}

.container{

}

.logoutbut {
    position:absolute;
    transition: .5s ease;
    top: 10%;
    left: 80%;
}

html body{
  background-color: #C7F8F8;
}

#title {
  text-align: center;

}
