/*style file*/
/*body {
    font: 400 16px/1.5 'DINPro', 'Helvetica', sans-serif;
}*/




.BOX{
  margin: auto;
  padding-left: 100px;
  padding-right:150px;

}



html body{
  background-color: #C7F8F8;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 2000;

}

#inputfields {
  width:400px;
}

#log-sign-but {
  width: 150px;
}

#title {
  text-align: center;

}
